.subtext, .form-group, .form-check {
    text-align: left;
}

body {
    background-color: #242424;
    min-width: 1200px;
    overflow-y: scroll;
}

/* Disable Highlighting */
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.flex-container {
    flex-direction: row;
    display: flex;
    width: 100%;
}

/* Navigation */
#navigation-bar {
    width: 100%;
    max-height: 106px;
    background-color: #0d0d12;
    position: fixed;
    z-index: 3;
}
.navbar-brand img{
    width: 150px;
    height: 80px;
}
.navbar-nav {
    width: 100%;
}

/* Hamburger Menu */
.dropdown-item {
    color: white;
}
.fa-bars {
    color: white;
}
.ham-dropdown-menu, .dropdown-menu {
    color: white;
    background-color: #474747;
}
.ham-dropdown-menu {
    margin-top: 18px;
}

/* Search Bar */
.category-selector {
    background-color: #474747;
    height: 36px;
    margin-right: 3px;
    max-width: 58px;
}
.form-outline {
    width: 90%
}
.search-bar {
    background-color: #3b3b3b;
    /* Remove white borders */
    border: 0;
    min-width: 600px;
}
.search-bar:focus {
    background-color: #3b3b3b;
    color: white;
}
.search-bar-li {
    width: 70%;
}
.search-submit-btn {
    background-color: #3b3b3b;
    height: 35px;
}

/* Register Button */
.fa-user-circle {
    margin-top: 6px;
}
.register-btn, .register-btn:hover{
    color: white;
    text-decoration: none;
}
.reg-div {
    margin-left: 8px;
    margin-top: 2px;
}
.register {
    margin-left: 35px;
    height: 50px;
    width: 170px;
}
.register:hover {
    border: 1px solid #555;
    border-color: white;
}
.register-welcome {
    margin-left: 7px;
}
.subtext {
    font-size: .8rem;
}

/* Checkout Button */
.cart-btn {
    margin-top: 8px;
    color: white;
    width: 60px;
    height: 50px;
}
.checkout {
    margin-left: 20px;
    width: 60px;
    height: 50px;
}
.checkout:hover {
    border: 1px solid #555;
    border-color: white;
}

/* Login/Register */
#login-area {
    top: 30%;
    left: 25%;
    position: absolute;
}
.main-div {
    background-color: aliceblue;
    width: 1000px;
}
.main-login {
    width: 450px;
    margin: 30px;
}
.main-login h1 {
    font-size: 1.4rem;
    font-weight: bold;
}
.alt-login {
    margin-top: 52px;
    width: 300px;
}
.login-btn {
    width: 425px;
    background-color: #ffa100;
    color: black;
    font-weight: bold;
    border: 0;
}
.login-btn:hover {
   background-color: #bd7700; 
}
.fa-google {
    margin-right: 10px;
}
.google-anchor, .google-anchor:hover {
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0;
    text-align: center;
}
.google-login {
    background-color: #ff3c00;
}
.google-login:hover {
    background-color: #c92f00;
}

#first-section {
    padding-top: 106px;
}


/* Carousel */
#home-carousel, .cropped {
    height: 80%;
    width: 100%;
    overflow: hidden;

}
.carousel-inner, .carousel-item, .carousel-item img{
    height: 100%;
}
.cropped img {
    margin: -10px 0px 0px -180px;
}

li {
    list-style-type: none;
}
.carousel-item, .promo-item {
    opacity: 0.6;
}
.carousel-item:hover, .promo-item:hover {
    opacity: 1;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

.category button {
    color: white;
}

.category button:hover, .dropdown-item:hover {
    color: orange;
    background-color: #555;
}

.category-list, .category-list li, .category {
    padding: 0;
    width: 100%;
}

.category .btn {
    text-align: left;
}

.dropdown-toggle::after {
    float:right;
    margin-top: 8px;
    margin-right: 10px;
}

.dropend:hover .dropdown-menu{
    display: block;
    margin-top: 0; 
    margin-left: 199px;
}

.edge-border {
    width: 8.5%;
}

/* Circular Category Selector */
#categories {
    padding-top: 106px;
    margin: 40px 0;
}
.circle {
    border-radius: 50%;
    background-color: white;
    width: 130px;
    height: 130px;
    overflow: hidden;
    margin: 0 20px;
}
.circle img {
    max-height: 130px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.align-horizontally {
    margin: auto;
    width: fit-content;
}
.category-name {
    color: white;
    text-align: center;
    background-color: #242424;
    margin-top: -15px;
}
.circle:hover ~ .category-name {
    color: orange;
}

.trending-div {
    background-color: #3b3b3b;
    color: white;
    width: 83%;
}


.category-header {
    font-size: 1.5rem;
    text-align: left;
    margin-left: 30px;
    padding-top: 10px;
}